<section class="row">
<form method="post" action="/url=">
  <label >Check Url:</label>
  <input type="url" id="url" name="URL">
  <input type="submit" value="Submit">
</form>
</section>
<%= @url %>
<section>
<table>
  <tr>
    <th>Url</th>
    <th>Latency</th>
    <th>Status</th>
    <th>Time</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</section>
